body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  //display: flex;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

header {
  width: 100vw;
  height: 75vh;
  //flex-direction: row;
}
.hero {
  position: relative;
  width: 100%;
  height: 100%;
  h1 {
    width: 100vw;
    font-size: 10em;
  }
  .top {
    position: absolute;
    top: 15vh;
    left: 30vw;
  }
  .bottom {
    position: absolute;
    top: 30vh;
    left: 40vw;
  }
  .tagline {
    position: absolute;
    top: 60vh;
    left: 45vw;
    font-size: 3em;
  }
}

nav {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  //width: 100%;
  ul {
    display: inline-flex;
    list-style: none;
    margin: 0 auto;
  }
  li {
    padding: 3em;
  }
}
